<div class="text-center">
  <img class="back" src="assets/img/rick_morty.png" routerLink="/">
</div>
<div class="text-center">
  <p class="title" routerLink="/all">Sácales el dedo Morty, les dije que significa que hay paz entre los mundos</p>
</div>
<div  class="row" 
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="onScroll()"
>

    <div class="col-md-3 mt-3"  *ngFor="let item of characteres">
          <div class="card shadow" routerLink="/detail/{{item.id}}">
            <img [src]="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text"><span>Species: </span>{{item.species}}</p>

            </div>
          </div>
    </div>
</div>
