<h2 class="text-center m-t-10">Rik and Morty</h2>
<div  class="row" 
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="onScroll()"
>

    <div class="col-md-3 mt-3"  *ngFor="let item of characteres">
          <div class="card shadow" >
            <img [src]="item.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text"><span>Species:</span>{{item.species}}</p>

            </div>
          </div>
    </div>
</div>
