
.topCard{
    margin-top: 100px;
}


.avatar{
    border-radius: 1000px;
    width: 50%;
}
.card{
    background: #83c04600 !important;
    border: 1px solid rgb(131 192 70) !important;
    box-shadow: 0 0 10px 1px #83c046 !important;
    padding: 20px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    color: #d9f8d2 !important;
    margin-bottom: 30px;
}
.text-info{
    color: #bddfb5 !important;
    font-size: 30px;
    margin-top: 10px;
}
.return{
    color: #d9f8d2 !important;
    cursor: pointer;
}