/* You can add global styles to this file, and also import other style files */
html,body {
    background: rgb(0, 0, 0);
}
h2 {
    padding-top: 10px;
    font-family: 'Creepster', cursive;
}
h2{
    color: rgb(88, 246, 88);
    font-size: 100px;
}

.card-text{
margin-bottom: 0px !important;

}

span{
    font-weight: bold;
    
    }